html 
{
  background: none !important;
  body.login 
  {
    background: white url() repeat top left !important;
    background-size: auto !important;
        
    #login 
    {
      width:350px;      
      h1 a 
      {
        background-image: url(logo.png) !important;
        padding-bottom: 30px;
        margin: 0 auto;
        background-size: 239px 61px;
        width: 239px;
        height: 61px;  
      }
    }
    form 
    {
      border-radius:10px;
      border:4px solid #FF8E1A;
      background:#e0e0e0;
      -moz-box-shadow:    none;
      -webkit-box-shadow: none;
      box-shadow:         none;
      
      p label 
      {
        color:black;
        font-size:14px;
      }
      p.submit .button-primary 
      {
        background: #8cc44d !important;
        border: none !important;
        text-shadow: none;
        &:hover, &:focus 
        {
          background: rgba(140,196,77, 0.9) !important;
        }
      }
      
      input[type="text"] 
      {
        color: #555555;
        font-size:24px;
      }
    }
    #nav a, #backtoblog a 
    {
      color: #FF8E1A !important;
    }
    #nav, #backtoblog 
    {
      text-shadow: none;
    }
  }  
}

#excitedash_login_widget {
  max-width:100%;
  padding:5px;
  width:350px;
  margin:20px auto;
  
  img {
    max-width:100%;
    height:auto;
  }
  a {
    #FF8E1A;
  }
}
