/* line 1, /Users/paulh/Development/Web/plaid/sandbox/htdocs/wp-content/plugins/excitedash/css/branding.scss */
html {
  background: none !important; }
  /* line 4, /Users/paulh/Development/Web/plaid/sandbox/htdocs/wp-content/plugins/excitedash/css/branding.scss */
  html body.login {
    background: white url() repeat top left !important;
    background-size: auto !important; }
    /* line 9, /Users/paulh/Development/Web/plaid/sandbox/htdocs/wp-content/plugins/excitedash/css/branding.scss */
    html body.login #login {
      width: 350px; }
      /* line 12, /Users/paulh/Development/Web/plaid/sandbox/htdocs/wp-content/plugins/excitedash/css/branding.scss */
      html body.login #login h1 a {
        background-image: url(logo.png) !important;
        padding-bottom: 30px;
        margin: 0 auto;
        background-size: 239px 61px;
        width: 239px;
        height: 61px; }
    /* line 22, /Users/paulh/Development/Web/plaid/sandbox/htdocs/wp-content/plugins/excitedash/css/branding.scss */
    html body.login form {
      border-radius: 10px;
      border: 4px solid #FF8E1A;
      background: #e0e0e0;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none; }
      /* line 31, /Users/paulh/Development/Web/plaid/sandbox/htdocs/wp-content/plugins/excitedash/css/branding.scss */
      html body.login form p label {
        color: black;
        font-size: 14px; }
      /* line 36, /Users/paulh/Development/Web/plaid/sandbox/htdocs/wp-content/plugins/excitedash/css/branding.scss */
      html body.login form p.submit .button-primary {
        background: #8cc44d !important;
        border: none !important;
        text-shadow: none; }
        /* line 41, /Users/paulh/Development/Web/plaid/sandbox/htdocs/wp-content/plugins/excitedash/css/branding.scss */
        html body.login form p.submit .button-primary:hover, html body.login form p.submit .button-primary:focus {
          background: rgba(140, 196, 77, 0.9) !important; }
      /* line 47, /Users/paulh/Development/Web/plaid/sandbox/htdocs/wp-content/plugins/excitedash/css/branding.scss */
      html body.login form input[type="text"] {
        color: #555555;
        font-size: 24px; }
    /* line 53, /Users/paulh/Development/Web/plaid/sandbox/htdocs/wp-content/plugins/excitedash/css/branding.scss */
    html body.login #nav a, html body.login #backtoblog a {
      color: #FF8E1A !important; }
    /* line 57, /Users/paulh/Development/Web/plaid/sandbox/htdocs/wp-content/plugins/excitedash/css/branding.scss */
    html body.login #nav, html body.login #backtoblog {
      text-shadow: none; }

/* line 64, /Users/paulh/Development/Web/plaid/sandbox/htdocs/wp-content/plugins/excitedash/css/branding.scss */
#excitedash_login_widget {
  max-width: 100%;
  padding: 5px;
  width: 350px;
  margin: 20px auto; }
  /* line 70, /Users/paulh/Development/Web/plaid/sandbox/htdocs/wp-content/plugins/excitedash/css/branding.scss */
  #excitedash_login_widget img {
    max-width: 100%;
    height: auto; }

/*# sourceMappingURL=branding.css.map */