/* line 3, /Users/paulh/Development/Web/plaid/sandbox/htdocs/wp-content/plugins/excitedash/css/widgets.scss */
#excitedash_dashboard_widget .inside img {
  max-width: 100%;
  height: auto; }

/* line 10, /Users/paulh/Development/Web/plaid/sandbox/htdocs/wp-content/plugins/excitedash/css/widgets.scss */
#excitedash_header_widget {
  margin-right: 20px;
  margin-bottom: 0; }
  /* line 14, /Users/paulh/Development/Web/plaid/sandbox/htdocs/wp-content/plugins/excitedash/css/widgets.scss */
  #excitedash_header_widget .inside {
    margin: 0;
    padding: 12px; }
    /* line 17, /Users/paulh/Development/Web/plaid/sandbox/htdocs/wp-content/plugins/excitedash/css/widgets.scss */
    #excitedash_header_widget .inside img {
      max-width: 100%;
      height: auto; }
    /* line 21, /Users/paulh/Development/Web/plaid/sandbox/htdocs/wp-content/plugins/excitedash/css/widgets.scss */
    #excitedash_header_widget .inside p:first-child {
      margin-top: 0; }

/*# sourceMappingURL=widgets.css.map */