#excitedash_dashboard_widget {
  .inside {
    img { 
      max-width:100%; 
      height:auto; 
    } 
  }
}

#excitedash_header_widget {
  margin-right:20px;
  margin-bottom:0;
  
  .inside {
    margin:0;
    padding:12px;
    img { 
      max-width:100%; 
      height:auto;
    } 
    p:first-child {
      margin-top:0; 
    }
  }
}